#container {
    display: grid;
    width: 960px;
    height: 960px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#container > * {
    background-color: rgba(255, 0, 0, 0.342);
}

