#container {
    display: grid;
    width: 960px;
    height: 960px;
    grid-template-columns: repeat(16, 1fr);
}

#container > * {
    background-color: red;
}

#container > *:hover {
    background-color: yellow;
}